<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>WareHouse</title>
  </head>
  <body class="grid-container">
    <nav class="flex center-around">
      <div >
        <a class="brand" href="index.html">WareHouse</a>
      </div>
      <div class="form-div">
        <form  autocomplete="on">
          <input class="nav-search" type="text" placeholder="search..." />  
          <button class='search-btn' type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="user">
        <a>User</a>
        <i class="fa fa-caret-down"></i>
      </div>
    </nav>

    <aside>
      <div class="list">
        <ul>
          <a><li>Condenser</li></a>
          <a><li>Evaporator</li></a>
          <a><li>Compressor</li></a>
          <a><li>Expansion Valve</li></a>
          <a><li>Cabin Filter</li></a>
          <a></a><li>Gas</li></a>
        </ul>
      </div>
    </aside>

    <main>
      <div class="table-container">
        <button class="add-product">Add Product<i class="fa fa-plus"></i></button>
        <table class="table">
          <thead>
            <tr>
              <td>ID</td>
              <td>IMAGE</td>
              <td>TYPE</td>
              <td>MAKE</td>
              <td>MODEL</td>
              <td>YEAR</td>
              <td>QTY</td>
              <td>PRICE</td>
              <td>SUBTOTAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
            <tr>
              <td>12377380909191</td>
              <td><img src="./Images/2009 Honda CRV drier.jpg" /></td>
              <td>A/C drier</td>
              <td>Honda</td>
              <td>Crv</td>
              <td>2009</td>
              <td>30</td>
              <td>10000</td>
              <td>600000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer class="flex center-around">
      <div>WareHouse App is powered by: Mac-Davids Enterprise</div>
    </footer>
  </body>
</html>
