/* #B9D9EB */
* {
  /* makes it easy to handle border padding margin */
  box-sizing: border-box;
}

html {
  font-size: 62.5;
  /* 16px * 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}
/* main::-webkit-scrollbar {
    display: none;
} */
/* utility classes */

#root {
  height: 100%;
}
.flex {
  display: flex;
}
.fw {
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  margin: 1rem;
}
li {
  list-style-type: none;
}
h2 {
  font-size: 0.8rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-weight: 100;
  font-size: 1rem;
}
h5 {
  font-weight: 100;
}
.center-around {
  align-items: center;
  justify-content: space-around;
}

input {
  width: 300px;
  height: 35px;
  outline: none;
}
.nav-search {
  border: none;
}
.nav-search:hover {
  border-bottom: 2px solid #8e2de2;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "aside main main"
    "footer footer footer";
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-columns: 0.2fr 2fr 1fr;
  gap: 0.1rem;
}

nav {
  grid-area: nav;
  /* border: 2px solid purple; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.brand {
  font-weight: 700;
  font-size: x-large;
  color: #8e2de2;
}
form {
  display: flex;
  align-items: center;
}
#email,
#password {
  width: 380px;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
}
.signin-button {
  cursor: pointer;
  width: 380px;
  border: none;
  background-color: #8e2de2;
  border-radius: 0.2rem;
  height: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.signin-button :hover {
  opacity: 1;
}
#create-acc {
  color: white;
}
.search-btn {
  height: 2.2rem;
  width: 3rem;
  background-color: #8e2de2;
  border: none;
  border-radius: 0.2rem;
  color: black;
}

aside {
  grid-area: aside;
  /* border: 2px solid black; */
  width: 11rem;
  /* margin-left: 0; */
  /* padding: 0; */
  height: 100%;
  background-color: #8e2de2;
  color: white;
  z-index: 400;
  transform: translateX(-9rem);
  transition: all 0.7s;
}
aside h3 {
  font-size: small;
  margin-left: 50px;
  font-weight: 100;
}
.list {
  /* margin-right: 0.5rem; */
  /* margin-top: 0.5rem; */
  width: 100%;
  justify-self: center;
  /* border: black 2px solid; */
}
/* ul {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;

  flex-direction: column;
} */
/* ul li {
  margin: 0.5rem;
  height: 2rem;
  width: 8.8rem;
  border: red 2px solid;
  font-weight: 300;
  font-size: medium;
  color: white;
} */
ul li:hover {
  /* border-left: 3px solid black; */
  /* border-width: 100%; */
  border-left: white 8px solid;
}
main {
  grid-area: main;
  /* border: 2px solid red; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* margin: 0 auto; */
  margin-top: 1rem;
  height: 100vh;
  overflow-y: scroll;
}
main::-webkit-scrollbar {
  display: none;
}
.add-product {
  background-color: #8e2de2;
  color: white;
  margin-bottom: 1rem;
  border: none;
  height: 2.5rem;
  width: 8rem;
  border-radius: 0.5rem;
}
.fa-plus {
  margin: 0.5rem;
}
.table-container {
  margin-top: 3.5rem;
  margin-left: 3rem;
}
.table {
  width: 85%;
  border-collapse: collapse;
}

.table thead tr {
  /* border-bottom: 2px solid #38ef7d; */
  background-color: #8e2de2;
  color: white;
  font-size: small;
  font-weight: 600;
}
.table tbody tr {
  height: 100px;
  font-size: smaller;
  font-weight: 600;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td,
.table th {
  text-align: left;
  /* border: 0.1rem solid #e4e4e4; */
  padding: 0.5rem;
}
footer {
  grid-area: footer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  /* margin-top: 2rem; */
  /* border: 2px solid black; */
}
/* signin */
.form-container {
  height: 500px;
  width: 450px;
  /* border: 2px solid black; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background: linear-gradient(
    148deg,
    rgba(142, 45, 226, 1) 42%,
    rgba(74, 0, 224, 1) 99%
  );
  border-radius: 0.5rem;
  padding: 2rem;
}
.form-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.loading {
  display: block !important;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.cart-badge {
  background-color: black;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  margin-left: 0.2rem;
}
/* productPage */
.productpage-container {
  height: 100%;
}
.productpage {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
}

.flex-2 {
  flex: 2 1;
}
.flex-1 {
  flex: 1 1;
}
.large-image {
  height: 450px;
  width: 550px;
  border: 1px gray solid;
  border-radius: 0.4rem;
}
.small-image {
  height: 150px;
  width: 166px;
  border: 1px gray solid;
  border-radius: 0.4rem;
  margin: 0.5rem;
}
.status-qty {
  border: 1px solid gray;
}
.also-fit {
  /* border: 1px solid gray; */
  width: 500px;
  height: 200px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  /* background-color: #a4a4a4; */
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px black solid; */
}
.reviews__display {
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-right: 1px solid #8e2de2;
}
.reviews__list {
  display: flex;
  flex-direction: column;
}
.reviews__form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid purple; */
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.7rem;
}
.labelrating {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
#labelrating {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
.comment_container {
  /* border: 2px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.comment {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
#comment {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
  resize: none;
  /* margin-top: 1rem; */
}
.comment_btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 7rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* cartpage */
.cartpage-container {
  height: 100%;
}
.cartpage {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartproduct-container {
  width: 800px;
  /* border: 2px red solid; */
}
.cartpurchase {
  width: 300px;
  height: 120px;
  /* border: 1px solid gray; */
  margin-left: 1rem;
  padding: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  /* border: 2px red solid; */
}
.cart-product {
  /* width: 990px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-qty {
  width: 3.5rem;
  height: 1.9rem;
}
.status-qty {
  padding: 1rem;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
}
.status {
  display: flex;
  /* justify-content: space-between; */
}
.qty {
  display: flex;
  align-items: center;
}
.addtocart-btn {
  margin-bottom: 0;
  height: 1.9rem;
  border: none;
  background-color: #8e2de2;
  color: black;
}
.delete-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  cursor: pointer;
}
.werey {
  color: black;
  line-height: 1.5rem;
}
.checkout-btn {
  border: none;
  background-color: #8e2de2;
  height: 2rem;
  width: 100%;
  border-bottom: 0px;
  cursor: pointer;
  /* border-radius: 0.4rem; */
}
.bold {
  font-weight: bolder;
  color: black;
}
.signin-container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 400px;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  /* border: 2px red solid; */
}
.register-container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 550px;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  /* border: 2px solid black; */
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#address {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#city {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#postalcode {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#country {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#email {
  border: #8e2de2 1px solid;
  width: 300px;
}
#password {
  border: #8e2de2 1px solid;
  width: 300px;
}
#name {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#confirmpassword {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#image {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#imageFile {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#type {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#make {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}

#model {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#year {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#stockqty {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#price {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
.model-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.address-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.city-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}

.name-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.email-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.password-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.confirmpassword-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.stockeepername_label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.stockeeperwarehouse_label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
#stockKeeper-name {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}
#stockKeeper-warehouse {
  border: #8e2de2 1px solid;
  width: 300px;
  height: 49px;
}

.signin-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 7rem;
  cursor: pointer;
}
.register-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 7rem;
  cursor: pointer;
}
.continue-btn {
  margin-top: 1rem;
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 3rem;
  width: 9rem;
  cursor: pointer;
}
.form-shipping {
  margin: 0 auto;
  margin-top: 5rem;
  height: 610px;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}
.form-payment {
  margin: 0 auto;
  margin-top: 5rem;
  height: 300px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #8e2de2;
  color: #8e2de2;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.cart {
  /* height: 100%;
  display: flex; */
  text-align: center;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user a {
  /* height: 100%; */
  font-weight: 600;
  color: #8e2de2;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  /* border: 2px red solid; */
  height: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}
.dropdown-content {
  position: absolute;
  display: none;
  min-width: 10rem;
  padding: 0.5rem;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px #8e2de2;
  background-color: #8e2de2;
  top: 1.4rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.dropdown-content a {
  color: white;
}
.dropdown-content li {
  margin-top: 1rem;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 2s;
}
#paypal {
  height: 1rem;
  width: 1rem;
  border: #8e2de2 2px solid;
}
#flutterwave {
  height: 1rem;
  width: 1rem;
}
/* placeorderpage */
.placeorder-container {
  display: flex;
  flex-wrap: wrap;
}
.column-1 {
  /* border: red 2px solid; */
  flex: 2 1 50rem;
  padding: 1rem;
}
.column-2 {
  flex: 1 1 25rem;
  /* border: black 2px solid; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* box-shadow: 0px 8px 16px 0px #8e2de2; */
}
.shipping-info {
  /* border: red 2px solid; */
  margin-top: 1rem;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
.payment-method {
  /* border: red 2px solid; */
  margin-top: 1rem;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
.order-items {
  /* border: red 2px solid; */
  margin-top: 1rem;
}
.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-2 {
  /* border: red 2px solid; */
  margin-top: 1rem;
}
.placeorder-btn {
  border: none;
  background-color: #8e2de2;
  height: 2rem;
  width: 100%;
  border-bottom: 0px;
  cursor: pointer;
  border-radius: 0.2rem;
}
.order-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 350px;
  border-radius: 0.2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-top: 1rem;
}
.flutterwave-btn {
  width: 100%;
  border: none;
  height: 3rem;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.2rem;
}
.orderhistory-container {
  display: flex;
}
.orderhistory-table {
  margin: 0 auto;
}
.orderhistory-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}
.profile-container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 670px;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
.update-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 7rem;
  cursor: pointer;
  margin: 0 auto;
}
.productEdit-container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 870px;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  /* border: red 2px solid; */
}

.productedit-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 7rem;
  cursor: pointer;
  /* margin-top: 0.5rem; */
  margin: 0 auto;
}
.image-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.type-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.make-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.year-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.stockqty-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.price-label {
  color: white;
  width: 100px;
  height: 47px;
  padding: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  /* border: red 2px solid; */
  background-color: #8e2de2;
}
.orderlist-container {
  display: flex;
}
.orderlist-table {
  margin: 0 auto;
}
.orderlist-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}
.deliver-btn {
  width: 90%;
  margin: 0.5rem;
  border: none;
  height: 3rem;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.2rem;
}

.userlist-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}
.useredit-container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 550px;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.update-btn {
  border: none;
  background-color: #8e2de2;
  color: white;
  border-radius: 0.3rem;
  height: 2rem;
  width: 7rem;
  cursor: pointer;
}
/* Aside */
/* aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
} */
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
button.open-sidebar:hover {
  background-color: #2020a0;
}
.close-sidebar:hover {
  background-color: #2020a0;
}

aside ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
aside li {
  display: flex;
  justify-content: space-between;

  /* padding: 1rem; */
}
aside li a {
  color: white;
  font-weight: 600;
}
.sidenav__header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.stockeeper__list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.stockeeper {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}
.type {
  /* margin-left: 1rem; */
  color: black;
}
button.close-sidebar {
  border: none;
  margin-left: 1rem;
}
.active {
  font-weight: bold;
}
* Map */ .full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
.searchpage {
  display: flex;
}
.margin-t {
  margin-top: 4rem;
}
